#root {
	margin: 0 auto;
	text-align: center;
	min-height: 100svh;
	width: 100%;
	position: relative;
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}
