#root {
	margin: 0 auto;
	text-align: center;
	min-height: 100svh;
	width: 100%;
	position: relative;
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

h2 {
	font-size: 3rem;
}

/* #root {
	background-image: url(https://images.unsplash.com/photo-1576072446584-4955dfe17b86?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80);
	background-size: cover;
} */
