@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.card {
		@apply shadow-xl flex flex-col justify-evenly text-bg w-[280px] border-2  rounded-lg bg-fg;
	}
	.pageHeader {
		@apply text-6xl font-hero px-8 mb-12;
	}
}

:root {
	/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	background-color: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--fg: #eae8ff;
	--bg: #2d3142;
	--acc: #b0d7ff;
}

a {
	font-weight: 500;
	text-decoration: inherit;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h2 {
	display: block;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
	:root {
		color: var(--bg);
		background-color: var(--fg);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color: var(--fg);
		background-color: var(--bg);
	}
} */
